.DS_Store
.Rhistory
.Rproj.user

data/clean/EFC
data/clean/PREEMPT
data/environmental
data/GBIF
data/raw/EFC
data/raw/PREEMPT
documents
outputs/misc
saved_models
scripts/archive
scripts/scraps.R
stan_models/*
!stan_models/*.stan